body {
    background-color: darkorange;
    font-family: Arial;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

#Card {
    text-align: center;
    max-width: 700px;
}

#CoverArt {
    width: 250px;
    height: 350px;
    border-radius: 25%;
    object-fit: cover;
}

#Trailer {
    width: 560px;
    height: 315px;
    margin-top: 20px;
}

#Actors {
    margin-top: 20px;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}
