body {
    background-color: darkorange;
    color: black;
    font-family: Arial;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}




#Card {
    text-align: center;
    max-width: 700px;
    width: 100%;
}

#CoverArt {
    width: 250px;
    height: 350px;
    border-radius: 25%;
    object-fit: cover;
}

#Trailer {
    width: 560px;
    height: 315px;
    margin-top: 20px;
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#Actors {
    margin-top: 20px;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}
